@font-face {

    font-family: 'montserrat';
    src: url(./Assets/fonts/Montserrat-VariableFont_wght.ttf);
}

*,
*::before,
*::after {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --clr-accent-blue: #1E2D7D;
    --clr-background: #E8FFE0;
}

body {
    background-color: var(--clr-background);
}

.active {

    color: var(--clr-accent-blue);
}

nav#nav1 {

    background-color: var(--clr-accent-blue);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 10px;


}

#nav1 img {

    width: 15vw;
}

#nav1 #input {

    width: 40vw;
    background-color: white;

    padding-block: 5px;
    padding-inline: 10px;


    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 5px;
}

#input input {
    background-color: none;
    border: 0;
    flex-grow: 3;
    outline: none;

}

#input #icon {


    /* flex-grow: 1; */
    padding-block: 5px;
    padding-inline: 15px;

    border-radius: 5px;

    background-color: black;

    transition: all 200ms;
    cursor: pointer;
}

#input #icon:hover {

    background-color: gray;
    /* color: black; */
}

#input #icon i {

    color: white;
    font-size: 20px;
}

nav#nav1 #nav1-right {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#nav1-right #part1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    border-right: 1px solid gray;

    margin-right: 20px;
    padding-right: 50px;

}

#part1:not(.trans) {

    font-size: 14px;
    font-weight: 400;
}

#nav1-right .trans {


    text-decoration: none;
    color: inherit;
    font-weight: 600;

    margin-top: 5px;


    transition: all 200ms;
}


#nav1-right .trans:hover {

    opacity: 0;

}

#nav1-right #part2 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    border-right: 1px solid gray;

    padding-right: 50px;
    margin-right: 20px;
}

#nav1-right #icon i {

    margin-right: 20px;
    font-size: 25px;
}

#nav2 {

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;

    background-color: white;
}


#nav2 #left a:not(.active) {

    color: gray;


}

#left a {

    text-decoration: none;
    padding: 10px;

    font-family: 'montserrat';
    font-size: 14px;
    font-weight: 500;
}
#left a#realtive{


}
#left #abso {

    position: absolute;
    display: none;
}


#nav2 #right{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#right>a{

    text-decoration: none;
    color: white;
    background-color: var(--clr-accent-blue);


    padding: 7px;
    border-radius: 100%;
    margin-right: 10px;
}

#right p{
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'montserrat';
    font-size: 14px;

font-weight: 500;


}

p a{

    text-decoration: none;
    color: inherit;
    font-weight: 600;
}